@charset "UTF-8"; 

/* Cabeçalho --------------------------------------------------------------------------------------------------------------------------------------- */

body {
    background-color: #338ee2;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body Page --------------------------------------------------------------------------------------------------------------------------------------- */

main {
    text-align: center;
    margin: auto;
    width: 500px;
    height: 100%;
    color: #000;
}

div#container {
   background-color: #fff;   border-radius: 10px;
   text-align: center;
   padding: 20px;
   margin: auto;
}

#imagem {
    max-width: 300px;
    border-radius: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}

/* Rodapé --------------------------------------------------------------------------------------------------------------------------------------- */

footer {
    text-align: center;
}

footer a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-style: italic;
}